<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<body>
  <nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline">
      <button class="btn btn-warning my-2 my-sm-0" type="button"> <i class="fa fa-user"></i>Logout </button>
    </form>
  </nav>
  <ng-container style="margin-top: 5%;">
    <div class="row">
      <div>
        &nbsp;

      </div>
    </div>
  </ng-container>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <mat-card>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar></div>
              <mat-card-title><h1><i class="fa fa-address-card-o"></i> แบบฟอร์มบันทึกข้อมูล</h1> <br></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row" style="margin-left: 4%;">
                  <div class="col-md-6">
                    <label class="label headerlabel"><i class="fa fa-id-card"></i>  รหัสนักศึกษา: </label> <font class="headercontent">xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</font><p></p>
                    <label class="label headerlabel"><i class="fa fa-user-circle"></i> ชื่อ - สกุล: </label> <font class="headercontent">xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</font>
                  </div>
                  <div class="col-md-6">
                    <label class="label headerlabel" ><i class="fa fa-child"></i> สาขา: </label> <font class="headercontent">xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</font> <p></p>
                    <label class="label headerlabel"><i class="fa fa-address-book-o"></i> คณะ: </label> <font class="headercontent">xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</font>
                  </div>
                </div>
                <div class="row" style="margin-left: 4%;">
                  <div class="col-12">
                      <hr><br><h3>ที่อยู่ที่ปรากฎในบัตรประชาชน <font style="color: red;">*</font> </h3>
                  </div>
                </div>
                <div class="row" style="margin-left: 4%;">
                  <div class="col-12">
                    <input type="text" class="form-control"  name="address" placeholder="กรุณาป้อนที่อยู่">
                  </div>
                </div>
                <div class="row" style="margin-left: 4%; margin-top: 3%;">
                  <div class="col-4">
                    <mat-label>ถนน<font style="color: red;">*</font></mat-label>
                      <input class="form-control" type="text" name="street" placeholder="ถนน">
                  </div>
                  <div class="col-4">
                      <mat-label>จังหวัด<font style="color: red;">*</font></mat-label>
                      <mat-select class="form-control" name="province" placeholder="จังหวัด">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let birthyear of birthyear" [value]="birthyear">{{birthyear}}</mat-option>
                      </mat-select>
                </div>
                <div class="col-4">
                    <mat-label>เขต/อำเภอ<font style="color: red;">*</font></mat-label>
                    <mat-select class="form-control" name="state" placeholder="เขต/อำเภอ">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let birthyear of birthyear" [value]="birthyear">{{birthyear}}</mat-option>
                    </mat-select>
                 </div>
                </div>
                <div class="row" style="margin-left: 4%; margin-top: 3%;">
                  <div class="col-4">
                    <mat-label>ตำบล<font style="color: red;">*</font></mat-label>
                      <mat-select class="form-control" name="district" placeholder="ตำบล">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let birthyear of birthyear" [value]="birthyear">{{birthyear}}</mat-option>
                    </mat-select>
                  </div>
                  <div class="col-4">
                      <mat-label>รหัสไปรษณีย์<font style="color: red;">*</font></mat-label>
                      <mat-select class="form-control" name="zipcode" placeholder="รหัสไปรษณีย์">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let birthyear of birthyear" [value]="birthyear">{{birthyear}}</mat-option>
                      </mat-select>
                </div>
                <div class="col-4">
                   &nbsp;
                 </div>
                </div>
                <div class="row" style="margin-left: 4%; margin-top: 3%;">
                  <div class="col-12">
                    <h2>ข้อมูลการติดต่อ <font style="color: red;">*</font> </h2>
                  </div>
                </div>
                <div class="row" style="margin-left: 4%; ">
                  <div class="col-4">
                    <mat-label>เบอร์โทรศัพท์ที่สามารถติดต่อได้<font style="color: red;">*</font></mat-label>
                      <input class="form-control" type="text" name="telno" placeholder="0x-xxxxxxxx">

                  </div>
                </div>
                <div class="row" style="margin-left: 4%; margin-top: 1%;">
                  <div class="col-12">
                      <hr>
                  </div>
                </div>
                <div class="row" style="margin-left: 4%; margin-top: 1%;">
                  <div class="col-12">
                    <h2>สำรองข้อมูลการติดต่อ  </h2>
                  </div>
                </div>
                <div class="row" style="margin-left: 4%; ">
                  <div class="col-6">
                    <mat-label>ชื่อ - สกุล บุคคลที่สามารถติดต่อได้<font style="color: red;">*</font></mat-label>
                      <input class="form-control" type="text" name="fname" placeholder="ชื่อ - สกุล">
                  </div>
                  <div class="col-4">
                    <mat-label>เบอร์โทรศัพท์ที่สามารถติดต่อได้<font style="color: red;">*</font></mat-label>
                      <input class="form-control" type="text" name="telnosub" placeholder="0x-xxxxxxxx">

                  </div>
                </div>
                <div class="row" style="margin-left: 4%; margin-top: 2%;">
                  <div class="col-12">
                      <hr>
                  </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
              <div class="row">
                <div class="col-6" style="text-align: right;">
              <button class="btn btn-primary"><i class="fa fa-save"></i> บันทึกข้อมูล</button>
                </div><div class="col-6" style="text-align: left;">
                  <button class="btn btn-danger"><i class="fa fa-close"> ยกเลิก </i></button>
                    </div>
              </div>
              <p></p>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </div>
  </div>


</body>
