<!--h1 mat-dialog-title>ต้องการออกจากระบบ?</h1 -->
<div mat-dialog-content style="text-align: center; font-size: 1.5rem;">
  <i class="fa fa-sign-out" style="color: sandybrown; font-weight: bold;"></i> &nbsp;ต้องการออกจากระบบ?</div>
<div mat-dialog-actions style="text-align: center; padding-top: 10%;">

  <button class="btn btn-dark" (click)="logout()"> <i class="fa fa-check"></i> ตกลง</button> &nbsp;
  <button class="btn buttonclose" (click)="DailogClose()"> <i class="fa fa-close"></i> ยกเลิก</button>
</div>
