<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand"><h2 style="color: white;">ระบบอะไรไม่รู้อะ</h2></a>
  <form class="form-inline">
    <label for="" style="color: rgb(243, 182, 67);">
    <i class="fa fa-user"></i>&nbsp;
    User &nbsp;</label>
    <label for="" style="color: rgb(243, 182, 67);">อะไรไม่รู้อะ</label>&nbsp;
    <font class="btn btn-outline-warning" style="color: rgb(243, 182, 67);" (click)="openDialog()">
       <i class="fa fa-sign-out"></i> &nbsp;Logout </font>
  </form>
</nav>
